# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.venv/
venv/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Large files - Model weights and datasets
*.pkl
*.h5
Data/
data/

# Allow important split data file
!Data/Ocular_Disease_Dataset/full_df_with_split.csv
!data/ODIR-5K/full_df_with_split.csv


# Old model files to ignore
resnet50_baseline_odir5k.pth

# Generated outputs and visualizations  
*.png
*.jpg
*.jpeg
*.pdf

# Allow the latest trained model
!resnet50_retinal_disease_model.pth

# Data files
*.csv
*.xlsx

# Logs and temporary files
logs/
*.log
tmp/
temp/

# Jupyter Notebooks
.ipynb_checkpoints/
